#title{
	font-size: 18px;
	padding: 25px;
	font-family: marquee;
	color:white;
	text-decoration: none; 
	background:url(https://i.pinimg.com/originals/78/cf/18/78cf188b6eee5fef5e9d6d44dc45c526.jpg);
}
#NOW{
     background-color: #333540;
     float:right;
     color: lightgreen;
     width: 225px;
     height: 30px;
}
#TAKE{
	 background-color: #2b823f;
     float:right;
     color: black;
     width: 225px;
     height: 30px;
}
body{
	background-color: #241f1f;
	margin: 0px;
	padding: 0px;
}
#pic{
	width: 100%;
	z-index: -1;
}
th input{
	margin-left:375px;

}

#emailpic
{

	vertical-align: middle;
	margin-top: -142px;

}
#email{
	width: 275px;
	height: 48px;
	font-size: 24px;
	border: 4px solid #292c2e;
}
#zip{
	width:225px;
	height: 48px;
	font-size: 24px;
	border: 4px solid #292c2e;
}
.protect
{
	width:1350px;
	height:300px;

}
.protect p{
font-family: "Franklin Gothic Heavy";
	font-size:34px;	
	margin-left: 510px;
}
#rhino2 p{
	font-family: "Franklin Gothic";
	margin-left:50px;
	font-size: 22px;
}
#status{
	margin-left: 1025px;
	margin-top:  40px;
}
#wallpaper{
	margin-left: 25px;	
}
#map img{
	margin-left: 25px;

}
#map{
	background-color: #d8edeb;
	margin-top: 20px;
}
#slide{
	width: 100%;
    height: 450px;
}
